#page-auth {
  display: flex;
  align-self: stretch;
  height: 100vh;

  aside {
    flex: 5;

    @media (max-width: 992px) {
      display: none !important;
    }

    background: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;
    }

    p {
      font-size: 1.5em;
      line-height: 32px;
      margin-top: 16px;
      color: #f8f8f8;
    }
  }

  main {
    flex: 8;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;

    width: 100%;
    max-width: 320px;

    > img {
      align-self: center;
    }

    h2 {
      font-size: 1.5em;
      margin: 64px 0 24px;
      font-family: 'Poppins', sans-serif;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: #fff;
        border: 1px solid #a8a8b3;
      }

      button {
        margin-top: 16px;
      }

      button,
      input {
        width: 100%;
      }
    }

    p {
      font-size: 0.875em;
      color: #737380;
      margin-top: 16px;

      a {
        color: #e559f9;
      }
    }
  }

  .create-room {
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #ea4335;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 60px;

    cursor: pointer;
    border: 0;

    transition: filter 0.2s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }

  .btn-continue--another,
  .btn-continue {
    margin-top: 64px;
    height: 50px;
    border-radius: 8px;
    font-weight: 500;
    background: #fff;
    color: #fff;

    padding: 0 32px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;
    border: 0;

    transition: background 0.2s;

    img {
      height: 28px;
      width: 28px;
      object-fit: cover !important;
      object-position: 50% 50%;
      flex-shrink: 0;
      border-radius: 100%;
    }

    > div {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 16px;
    }

    p {
      margin: 0;
    }

    small {
      margin-top: 3px;
      color: #5f6368;
      direction: ltr;
      font-size: 0.75em;
      font-weight: 400;
      text-align: left;
      line-height: 1.3333;
      word-break: break-all;
    }

    &:hover {
      background: #e8f0fe;
    }
  }
  .separator {
    font-size: 0.875em;
    color: #a8a8b3;

    margin: 32px 0px;

    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 16px;
    }
  }

  .btn-continue--another {
    margin-top: 20px;
  }
}
